/* Type your code here */
body {
}
/* change the font family and spacing as per your project font */
.footer {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  position: relative;
  top: 50px;
  margin-left: 10px;
  font-size: 2rem;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 500;
}

.footer img {
  margin: 0px 0.5rem;
}

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap");
* {
  font-family: "Nunito Sans", sans-serif;
}

#logo {
  margin-left: 80%;
  height: 4rem;
  width: 15rem;
}
#Title {
  text-shadow: 2px 2px black;
  font-size: 3rem;
}

#Team {
  color: gray;
  font-size: 2rem;
}

#container {
  margin: 0px 0px 0px 10px;
  background-image: url(./assets/background-image1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

table {
  border-collapse: collapse;
  border: 2px solid black;
  background-color: white;
  font-weight: bolder;
  font-size: large;
  border-spacing: 50px 0;
}

tr {
  border: solid;
  border-color: gray;
  border-width: 2px 0;
}
td {
  padding: 30px 30px;
}

a {
  text-decoration: none;
  color: #1aa3ff;
}

.status {
  color: gray;
}
